<div class="card m-2 p-0" style="width: 18rem;">
  {{!-- <img src="/images/placeholder-200x200.png" class="card-img-top" alt="..." /> --}}

  <div class="card-body">
    <h5 class="card-title">{{friend_name}}</h5>
    <p class="card-text" id="friend_id">{{friend_name}}</p>
    <input type="hidden" name="friend-id" value="{{id}}" />
    <p class="card-text">Some quick example text to build on the card title and
      make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer">
    <a href="/results/{{friend_id}}"><button class="btn btn-primary">Profile</button></a>
    <button type="button" class="btn btn-success" id="remove-friend" data-id="{{id}}">Remove</button>
  </div>
</div>