          <div class="card m-3" style="width: 24rem;">
            <div class="card-header">
              <h5 class="card-title mb-0">{{first_name}} {{last_name}}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to
                additional content.</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{city}}, {{state}}</li>
                <li class="list-group-item">{{fitness_level}}</li>
                <li class="list-group-item">{{availability}}</li>
                <li class="list-group-item">{{gym_id}}</li>
              </ul>
            </div>

            <div class="card-footer">
              <a href="/results/{{id}}"><button type="button" class="btn btn-primary">View</button></a>
              {{!-- <button type="button" class="btn btn-success" id="add-friend">Add</button> --}}
            </div>
          </div>